
<div class="body">
	<h2>About This Program</h2>
	<div class="jumbotron center">
		
		
		<!-- start of page text -->
		<p>This is going to be a simple program, but with a slick, easy to use user interface.
			<br>
		Using a programming language called 'Ruby' and a framework called 'Rails' this software has great database potential, while having a user friendly look and feel.
		The goal of this software and framework is to allow fast and accurate information retreival, on clients, and there reconcilliation data. Saving time, and hassle to find out what companies need to be updated. 
		<br><br>
		In later version we hope to include the ability to have an organizer/to-do list and also a "Shopping-List" so that everyone can add supplies to the list, and with a simple click, all can be reviewed for purchase.
		</p>
	</div> <!-- jumbotron -->
</div> <!-- body -->