
<div class="body"> <!-- start of "body" div -->
	<h2>McEvoy Office Services Client Database</h2>
	<div class="jumbotron"> <!--start of "jumbotron" div -->
		
		<p class ="text-center"><%= link_to "Click Here to Login", "#", class: "btn btn-primary" %></p>
		<p class ="text-center"><%= link_to "Not Registered?", "#", class: "btn btn-primary" %></p>
	</div> <!-- end of "jumbotron" div -->
</div> <!-- end of "body" div -->
